main {
  height:80vh;
  display: flex;
  min-height: 600px;
}



.main-area {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  
}

.btn-main {
  padding: 50px 0 50px 0;
  background-color: #0d6dfd63;
  
  width: 500px;

}

.plans-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}


@media screen and (max-width: 992px){
  
.btn-main {
  width: 250px;
}

}