main {
  height:80vh;
  display: flex;
  min-height: 600px;
}



.main-area {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  
}

.btn-main {
  padding: 50px 0 50px 0;
  background-color: #0d6dfd63;
  
  width: 500px;

}

.plans-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.company-site {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.8fr 1fr 1fr;
  grid-template-areas: 
  "item1 item1 item3"
  "contact-table contact-table item3"
  "supervisor-table supervisor-table item2";
  grid-gap:1rem;
  border-radius: 1rem;

}

.item1 {
  grid-area: item1;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: antiquewhite;

}

.item2 {
  grid-area: item2;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: antiquewhite;

}

.item3 {
  grid-area: item3;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: antiquewhite;

}

.contact-table {
  grid-area: contact-table;
  display:flex;

}

.supervisor-table{
  grid-area: supervisor-table;
  display: flex;
}

.container >* {
  border-radius: 1rem;
}




@media screen and (max-width: 992px){
  
.btn-main {
  width: 250px;
}

}